*{
  margin:0;
  padding: 0;
  outline: 0;
}
.articles{
padding: 3px 0px 3px 20px ;
background-color: #212d3a;
}
.slider{
    overflow: hidden;
    height: 500px;
  
}

.slider figure div{
  float: left;
   width: 20%;
} 
 
.slider figure img{
    width: 100%;
    float: left;
}

.slider figure{
   position: relative;
   width: 500%;
   margin: 0px;
   left: 0;
   animation: 20s ravi infinite;
}
@keyframes ravi{
 0%{
left: 0%;
}
10%{
left: 0%;
}
12%{
left: -100%;
}
22%{
left: -100%;
}
24%{
left: -200%;
}
34%{
left: -200%;
}
36%{
left: -300%;
}
46%{
left: -300%;
}
48%{
left: -400%;
}
58%{
left: -400%;
}
60%{
left: -300%;
}
70%{
left: -300%;
}
72%{
left: -200%;
}
82%{
left: -200%;
}
84%{
left: -100%;
}
94%{
left: -100%;
}
100%{
left: 0%;
}
}
.l_logo{
display: inline-block;
}
.l_logo ul li{

padding-top: 10px;
padding-left: 7px;
}
.l_logo ul li img{
background-color: #2e3f51;
border: 2px solid #2e3f51;
padding: 1px;
border-radius: 50%;
}
#img1:hover {
background-color: red;
border-color: red;

}
#img2:hover {
background-color: red;
border-color:red;

}
#img3:hover {
background-color: red;
border-color: red;

}
      .list-links li{
display: inline-block;
}
               
.searchForm {
           
position: relative;
vertical-align: top;
display: inline-block;
margin-top: 15px;
margin-bottom: 15px;
margin-left: 1040px;
}
.searchForm input {
padding: 3px 10px;
border-color: #2e3f51;
border-radius: 50px;
background-color: #2e3f51;
color: white;
height: 26px;
}
.searchForm img {
width: 20px;
height: 20px;
background-color: #212d3a;
padding: 3px;
border-radius: 45%;
position: absolute;
right: 10px;
top: 10%;

}
.topNav a{
margin-left: 10px;
padding-top: 20px;
color: gray;
font-family: Georgia;
font-size: 16px;

}
#n1{
padding-top: 40px;
}
#title{
margin-left: 0px;
padding-top: 40px;
color: #585858;
font-family: Georgia;
font-size: 27px;
}
#title1 {

margin-left: 17px;
color: gray;
font-family: Georgia;
font-size: 16px;
}
#table1{
background-color:  #212d3a;
border-style: solid;
border-color:#2e3f51;
border-top-width: 60px;
text-align: center;
border-bottom-width: 60px;
border-right-width: 35px;
border-left-width: 35px;
border-collapse:separate;
border-spacing: 5px;
}
#table1 p{
color: #b0b0b0;
}
#table1 h3{

color: #b0b0b0;
font-size: 25px;
}
#table1 img{
content: center;
}
#table2{ border-collapse: separate;
border-spacing:50px;

}
#table3{ border-collapse: separate;
border-spacing:30px;
}
#table3 a{
color: #212d3a;
font-family: Georgia;
}
#table4{ border-collapse: separate;
border-spacing:30px;
}
#photo img{
padding-left: 62px;
}
.right-content{
text-align: right;
}
.form1 {
margin: 0 auto;
width: 400px;

}
.form2 {
margin: 0 auto;
width: 1150px;
text-align: center;

}

.form2 label{
display: inline-block;
text-align: center;

}

p{
font-family: Georgia;

}#footer_text{

display: flex;
justify-content: space-between;
}
footer{
background-color: #eeeeee;
}


