*{
  margine: 0;
  padding: 0;
  outline: 0;
}
#searchForm {
            
		position: relative;
		vertical-align: top;
		display: inline-block;
		margin-left: 1270px;
	}
#table1{border-collapse: separate;
	border-spacing:50px 10px;
}
#table2{ border-collapse: separate;
	border-spacing:50px;
	
}
#table3{ border-collapse: separate;
	border-spacing:30px;	
}
#table4{ border-collapse: separate;
	border-spacing:30px;	
}
.form1 {
		margin: 0 auto;
		width: 400px;

	}
.form2 {
		margin: 0 auto;
		width: 1150px;
		text-align: center;

	}

	.form2 label{
		display: inline-block;
		text-align: center;
		
	}
ul li{
list-style-type:square;
}
 ul.l_logo li a {
display:inline-block;
}
#footer_text{

		display: flex;
		justify-content: space-between;
	}
