*{
  margine: 0;
  padding: 0;
  outline: 0;
}
.articles{
	padding: 3px 0px 3px 20px ;
	background-color: #212d3a;
}	


	.l_logo{
		display: inline-block;
	}
		.l_logo ul li{

			padding-top: 10px;
			padding-left: 7px;
		}
		.l_logo ul li img{
			background-color: #2e3f51;		
			border: 2px solid #2e3f51;
			padding: 1px;
			border-radius: 50%;
		}
		.list-links li{
			display: inline-block;
		}
		#img1:hover {
			background-color: red;
			border-color: red;
		
		}
		#img2:hover {
			background-color: red;
			border-color:red;
		
		}
		#img3:hover {
			background-color: red;
			border-color: red;
		
		}
      
                
	.searchForm {
            
		position: relative;
		vertical-align: top;
		display: inline-block;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 1040px;
	}
		.searchForm input {
			padding: 3px 10px;
			height: 26px;
			border-radius: 50px;
			border-color: #2e3f51;
			background-color: #2e3f51;
			color: white;
		}
		.searchForm img {
			width: 20px;
			height: 20px;
			padding: 3px;
			border-radius: 45%;
			position: absolute;
			right: 10px;
			top: 10%;
			background-color: #212d3a;
		}
.topNav a{
		margin-left: 10px;
		padding-top: 20px;
		font-size: 16px;
		color: gray;
		font-family: Georgia;
}
#n1{
		padding-top: 40px;
}
#title{
	margin-left: 0px;
	padding-top: 40px;
	font-size: 27px;
	color: #585858;
	font-family: Georgia;
}
#title1 {
	margin-left: 17px;
	font-size: 16px;
	color: gray;
	font-family: Georgia;
		
}
#table1{border-collapse: separate;
	background-color:  #212d3a;
	border-style: solid;
	border-color:#2e3f51;
	border-top-width: 60px;
	 border-bottom-width: 60px;
	 border-right-width: 35px;
	 border-left-width: 35px;
}
#table2{ border-collapse: separate;
	border-spacing:50px;
	
}
#table3{ border-collapse: separate;
	border-spacing:30px;	
}
#table3 a{
	color: #212d3a;
	font-family: Georgia;
}
#table4{ border-collapse: separate;
	border-spacing:30px;	
}

#photo img{
	padding-left: 62px;
}
label{
	color:white;
	font-family: Georgia;
}
.form1 {
		margin: 0 auto;
		width: 400px;

	}
.form2 {
		margin: 0 auto;
		width: 1150px;
		text-align: center;

	}

	.form2 label{
		display: inline-block;
		text-align: center;
		
	}

.right-content{
	text-align: right;
}
p{
	font-family: Georgia;

	}
#footer_text{

		display: flex;
		justify-content: space-between;
	}
footer{
			background-color: #eeeeee;
		}
.col-md-12 ul li:hover .h{
display:block;
position:absolute;
margin-top:15 px;
margin left:-15 px;
}
.col-md-12 ul li:hover .v{
display:block;
position:absolute;

}
