*{
  margine: 0;
  padding: 0;
  outline: 0;
}
.articles{
    
	padding: 10px ;
	background-color: #212d3a;
}
.l_logo{
		display: inline-block;
	}
		.l_logo ul li{
			margin-right: 7px;
		}
		.l_logo ul li img{
			padding: 3px;
		}
		.list-links {
		margin: 0;
		padding: 0;
}
      .list-links li{
	display: inline-block;
	}
.searchForm {
            
		position: relative;
		vertical-align: top;
		display: inline-block;
		margin-left: 1270px;
	}
#table1{border-collapse: separate;
	background-color:  #212d3a;
	border-style: solid;
	border-color:#2e3f51;
	border-top-width: 60px;
	 border-bottom-width: 60px;
	 border-right-width: 35px;
	 border-left-width: 35px;
}
#photo img{
	padding-left: 62px;
}
label{
	color: white;
}
#table2{ border-collapse: separate;
	border-spacing:50px;
	
}
#table3{ border-collapse: separate;
	border-spacing:30px;	
}
#table4{ border-collapse: separate;
	border-spacing:30px;	
}
.form1 {
		margin: 0 auto;
		width: 400px;

	}
.form2 {
		margin: 0 auto;
		width: 1150px;
		text-align: center;

	}

	.form2 label{
		display: inline-block;
		text-align: center;
		
	}

footer{
		background-color: #eeeeee;
		}
#footer_text{

		display: flex;
		justify-content: space-between;
	}
