*{
  margin: 0;
  padding: 0;
  outline: 0;
}
.articles{
	padding: 3px 0px 3px 20px ;
	background-color: #212d3a;
}	

	.l_logo{
		display: inline-block;
	}
		.l_logo ul li{

			padding-top: 10px;
			padding-left: 7px;
		}
		.l_logo ul li img{
			background-color: #2e3f51;		
			border: 2px solid #2e3f51;
			padding: 1px;
			border-radius: 50%;
		}
		.list-links li{
		display: inline-block;
		}
		.list-links a{
		text-decoration: none;
		}
		#in:hover {
			background-color: red;
			border-color: red;
		}
		#twitter:hover {
			background-color: red;
			border-color: red;
		}
		#pinterest:hover {
			background-color: red;
			border-color: red;
		}
		#gplus:hover {
			background-color: red;
			border-color: red;
		}

		#rss:hover {
			background-color: red;
			border-color: red;
		}
      
                
	.searchForm {
            
		position: relative;
		vertical-align: top;
		display: inline-block;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 65em;
	}
		.searchForm input {
			padding: 3px 10px;
			height: 26px;
			border-radius: 50px;
			border-color: #2e3f51;
			background-color: #2e3f51;
			color: white;
		}
		.searchForm img {
			width: 20px;
			height: 20px;
			padding: 3px;
			border-radius: 45%;
			position: absolute;
			right: 10px;
			top: 10%;
			background-color: #212d3a;
		}

		.list-links1{
			margin: 0;
			padding-left: 20px;
		}
		.list-links1 li{
			display: inline-block;
		}
		.list-links1 a{
			text-decoration: none;
		}
		#title{
			margin-left: 15px;
			padding-top: 40px;
			color: #585858;
			font-family: Georgia;
			font-size: 27px;
		}
	.top-navigation{
		margin-left: 35em;
		vertical-align: middle;
		display: inline-block;
	}
		.top-navigation a{
		padding-top: 20px;
		padding-left: 19px;
		color: gray;
		font-family: Georgia;
		font-size: 18px;
	}
		.top-navigation ul li:hover .dropdown{
		display: block;
		position: absolute;
		margin-top: 3px ;
		padding-bottom: 5px ;
		padding-top: 10px;
		padding-right: 2em;
		padding-left: 1.5em;
		text-align: center;
		background-color: #2e3f51;
		border-left: 2px solid #212d3a;
		border-bottom: 2px solid #212d3a;
		border-right: 2px solid #212d3a;
	}
	.dropdown{
		display: none;
	}
	.dropdown a{
		color:  white;
	}
	.listat{
		padding-top: 40px;
	}
	#title1 {
		margin-left: 17px;
		font-size: 16px;
		color: gray;
		font-family: Georgia;		
		}
	header{
		padding: 25px 15px;
	}

	#table1{
		border-collapse: separate;
		background-color:  #212d3a;
		border-style: solid;
		border-color:#2e3f51;
		border-top-width: 60px;
	 	border-bottom-width: 60px;
	 	border-right-width: 35px;
	 	border-left-width: 35px;
	 	text-align: center;
	 	border-spacing: 1px;
		}

.form1 {
		margin: 0 auto;
		width: 450px;
	}
	#kllapat{
		padding-bottom:  1em;
		padding-right: 16em;
	}
	#quisque{  
   		text-align: left;
		padding-left: 4em;
		padding-right: 4em;
	}
	#photo img{
		padding-left:25px;
		margin-bottom:-5px;
		margin-right: -6.5px;
		margin-top: -0.5px;
	}

	#table2{ 
		border-collapse: separate;
		border-spacing:50px;
	}

	.form2 {
		margin: 0 auto;
		width: 1150px;
		text-align: center;

	}

	.form2 i{font-size: 21px;

		color: #505050;
		font-family:Georgia;

		
	}
	#table3{ 
		border-collapse: separate;
		border-spacing:30px;
	}
	#theater img{
    	border: solid 1px #999999;
   	    padding: 0.3em;
 		box-shadow: 0px 14px 5px -10px #aaaaaa;
	}
	#viva{
	padding-top: 1em;
	}
	#table3 a{
		color: #212d3a;
		font-family: Georgia;
	}
	#table3 p{
	font-size: 17px;	
	}
	
	#table4{ 
		border-collapse: separate;
		border-spacing:30px;	
	}
	#table4 p{
		font-size: 17px;
		font-family: Georgia;
	}
	#twoquarter{
		padding-top: 15px;
	}
	#twoquarter img{
    	border: solid 1px #999999;
    	padding: 0.3em;
	}
	#onequarter1{
		padding-bottom: 5px;
	}
	#onequarter1 a{
		text-decoration: none;
		color: #212d3a;
	}
	#onequarter2{
		align-content: center;
		padding-top: 2em;
		padding-left: 3em;
	}
	p{
		font-family: Georgia;
	}

	label{
		color:white;
		font-family: Georgia;
		font-size: 18px;
	}
	#footer_text{
		display: flex;
		justify-content: space-between;
		padding-top: 15px;
	}
		footer{
			background-color: #eeeeee;
			padding-bottom: 25px;
  }
