*{
  margin:0;
  padding: 0;
  outline: 0;
}
.articles{
	padding: 3px 0px 3px 20px ;
    background-image:url("images/maskk.png");
    background-repeat: repeat;
    background-attachment: fixed;
}	

header {
  background-image:url("images/thee.jpg");
  background-position: center;
}
main{
  background-image:url("images/maskat.png");
    background-repeat: repeat;
    background-attachment: scroll;
}
	.l_logo{
		display: inline-block;
	}
		.l_logo ul li{

			padding-top: 10px;
			padding-left: 7px;
		}
		.l_logo ul li img{
			background-color:  #8b0000;		
			border: 2px solid  #8b0000;
			padding: 1px;
			border-radius: 50%;
		}
		.list-links li{
		display: inline-block;
		}
		.list-links a{
		text-decoration: none;
		}

		#in:hover {
			background-color: red;
			border-color: red;
		}
		#twitter:hover {
			background-color: red;
			border-color: red;
		}
		#pinterest:hover {
			background-color: red;
			border-color: red;
		}
		#gplus:hover {
			background-color: red;
			border-color: red;
		}

		#rss:hover {
			background-color: red;
			border-color: red;
		}
                
	.searchForm {
		position: relative;
		vertical-align: top;
		display: inline-block;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 65em; /* 1040 px*/
	}
		.searchForm input {
			padding: 3px 10px;
			border-color: #DEB887;
			border-radius: 50px;
			background-color: white;
			color: black;
			height: 26px;
		}
		.searchForm img {
			width: 20px;
			height: 20px;
			background-color: #A52A2A;
			padding: 3px;
			border-radius: 45%;
			position: absolute;
			right: 10px;
			top: 10%;

		}
		.list-links1{
			margin: 0;
			padding-left: 14em;
		}
		.list-links1 li{
			display: inline-block;
		}
		.list-links1 a{
			text-decoration: none;
		}
	.top-navigation{
		margin-left: 35em;
		vertical-align: middle;
		display: inline-block;
	}
		.top-navigation a{
		padding-top: 20px;
		padding-left: 20px;
		color: white;
		font-family: Cambria;
		font-size: 18px;
	}

		.listat{
		padding-top: 40px;
		}

	header h1{
		text-align: center;
		padding-top: 3em;
		padding-bottom: 3em;
		font-size: 50px;
		color: white;
		font-family: Cambria;
	}
	#table1{
		margin-top: 5em;
	}
	#table1 img{
		border: 4px solid black;
		border-radius: 7%;
		}		
	#table1 img:hover{
        transform: scaleX(-1);
        }
	#table1 p{
		font-size: 20px;
	}
	#table2{
		margin-top: 5em;
	}
	#table3{ 
		border-collapse: separate;
		border-spacing:30px;	
	}
	#table3 p{
		font-size: 17px;
		font-family: Georgia;
	}
	#twoquarter{
		padding-top: 10px;
	}
	#twoquarter img{
    	border: solid 1px #999999;
    	padding: 0.3em;
	}
	#onequarter1{
		padding-bottom: 1em;
	}
	#onequarter1 a{
		text-decoration: none;
		color: #212d3a;
	}
	#onequarter2{
		align-content: center;
		padding-top: 37px;
		padding-left: 3em;
	}
	#onequarter2 img:hover{
        transform: scaleX(1.1);
	}
		.center{
			text-align: center;
		}
		main p{
		text-align: center;
		color: black;
		}

	#footer_text{
		display: flex;
		justify-content: space-between;
		padding-top: 15px;
		}
		footer{
			background-color: #FFF8DC;
			padding-bottom: 25px;
		}
		footer p{
		font-family: Georgia;
		}

	abbr{
		font-variant: all-small-caps;
	}
label{
	color:#8b0000;
	padding-left: 15em;
	font-family: Georgia;
	text-align: center;
	font-size: 30px;
}
